* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(155, 190, 193);
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: linear-gradient(135deg, rgb(6, 209, 171), rgb(5, 28, 67));
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: 2;
    box-shadow: 2px 2px 15px rgb(5, 28, 67);
}

.search-field {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search {
    all: unset;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

i {
    color: #fff;
    cursor: pointer;
}

.weather {
    text-align: center;
    color: #fff;
    margin: 20px;
}

.weather img {
    height: 160px;
    margin: 10px;
}

.extra-info {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.col {
    display: flex;
    align-items: center;
    margin: 15px;
    gap: 15px;
}

.extra-info .col img {
    height: 40px;
}

.err {
    color: #fff;
    display: none;
}
